body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(195, 239, 215);
}

#submitbtn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid black;
}
th {
    background-color: rgb(68, 142, 68);
}
tr:nth-child(odd) {
    background-color: rgb(69, 173, 114);
}
th, tr, td {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    position: fixed;
    bottom: 0;
    right: 0;
}